<div id="content">
  
</div>
<div class="container">
  <% if current_user %>
    <script type="text/javascript">
      window.currentUser = "1235123sdv#&#Gbsdvba72n987r@&#!8as9d0as9dbfasdf"
    </script>
  <% end %>
</div>