/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Lobster|Raleway);

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: Raleway, Ubuntu, Helvetica;
}

.jumbotron {
  h1 {
    font-family: Lobster;
    color: #eeeeee;
    background-color: white;
    display: inline-block;
  }
}

.sign-in-sign-up-header {
  margin: 0 auto;
  h1 {
    display: inline-block;
  }
}

.dashboard {
  border-radius: 5px;
  border: 1px solid gray;
}

.current-user-sidebar {
  width: 300px;
  border: 1px solid gray;
  border-radius: 5px;
}

.like-index {
  border: 1px solid gray;
  border-radius: 5px;
  ul {
    list-style-type: none;
  }
}

.follow-index {
  border: 1px solid gray;
  border-radius: 5px;
  ul {
    list-style-type: none;
  }  
}

/*
.form-control {
  max-width: 600px;
}

.center-form {
  margin: 0 auto;
  width: 100%;
}*/