/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Lobster|Raleway);

$content-container-min-width:  900px;
$content-container-min-height: 500px;

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#content {
  min-width: $content-container-min-width;
  margin-bottom: 30px;
}

.row {
  margin: 0;
}

body {
  font-family: "Comic Sans MS", Raleway, Ubuntu, Helvetica;
}

.sign-in-sign-up-header {
  margin: 0 auto;
  h1 {
    display: inline-block;
  }
}

/* dashboard - current user */

.dashboard {
  border-radius: 5px;
  border: 1px solid gray;
  min-width: $content-container-min-width;
  min-height: $content-container-min-height;
}

.dashboard-feed-container {
}

.dashboard-feed-index {
  border: 1px solid gray;
  border-radius: 5px;
  min-height: $content-container-min-height;
}

/* dashboard - no current user */

.landing-page {
  font-weight: bold;
  font-size: 5em;
  font-style: bold;
  background: url("https://images.unsplash.com/photo-1431069767777-c37892aa0a07?q=80&fm=jpg&s=b4bc9252163eaf5f7655c9e3c60b61e8");
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  color: white;
  background-color: white;
  h1 {
  }
}

.feature {
  padding: 0px;
  text-align: center;
  .user-feature {
    height: 200px;
    background: url("http://www.tehcute.com/pics/201108/sad-pug-is-sad-big.jpg");
    background-size: auto 100%;
    border-color: 1px solid gray;
    border-radius: 5px;
    box-shadow: 0 0 10px lightgray;
  }
  padding: 10px 0;
}

.description {

}

/* current user sidebar */

.user-sidebar {
  border: 1px solid gray;
  border-radius: 5px;
  height: inherit;
  min-height: $content-container-min-height;
}

/* like index */

.like-index {
  border: 1px solid gray;
  border-radius: 5px;
  ul {
    list-style-type: none;
  }
  min-height: 200px;
}

/* follow index */

.follow-index {
  border: 1px solid gray;
  border-radius: 5px;
  ul {
    list-style-type: none;
  }
  min-height: 200px;  
}

/* user show*/

.user-show {
  border: 1px solid gray;
  border-radius: 5px;
}

.user-feed-container {
  border: 1px solid gray;
  border-radius: 5px;
}

.user-show-sidebar {
  border: 1px solid gray;
  border-radius: 5px;
}

.user-header {
  position: relative;
  h1 {
    display: inline-block
  }
  .profile-image {
    position: absolute;
    border-radius: 5px;
    right: 5%;
  }
  background: -webkit-linear-gradient(left top, lightgray, lightblue);
  background: -o-linear-gradient(bottom right, lightgray, lightblue);
  background: -moz-linear-gradient(bottom right, lightgray, lightblue);
  background: linear-gradient(to bottom right, lightgray, lightblue);
}


/* track index */
.track-index-item {
  height: 100px;
  max-width: 600px;
  border: 1px solid gray;
  border-radius: 5px;
}

.play-button {
  width: 40px;
  &:hover {
    cursor: pointer;
    background-color: lightpink;
  }
}

/* track show */
.track-show-container {
  border: 1px solid gray;
  border-radius: 5px;
  min-height: $content-container-min-height;
}

.track-show-header {
  position: relative;
  min-width: $content-container-min-width;
  width: 100%;
  display: inline-block;
  .track-image {
    position: absolute;
    border-radius: 5px;
    right: 5%;
  }
  .track-index-item {
    display: inline-block;
    width: 80%;
  }
  background: -webkit-linear-gradient(left top, lightgray, lightblue);
  background: -o-linear-gradient(bottom right, lightgray, lightblue);
  background: -moz-linear-gradient(bottom right, lightgray, lightblue);
  background: linear-gradient(to bottom right, lightgray, lightblue);
}

.track-description {
  border-radius: 5px;
  border: 1px solid gray;
}

.track-sidebar {
  border: 1px solid gray;
  border-radius: 5px;
  height: inherit;
  min-height: $content-container-min-height;
}

/* comment index */
.comment-index {
  ul {
    list-style-type: none;
  }
  .comment-index-item {
    border-radius: 5px;
    border: 1px solid gray;
    height: 50px;
  }
}