/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Pacifico|Lato);

$content-container-min-width:  900px;
$content-container-min-height: 500px;
$header-height: 295px;
$header-image-size: 150px;

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#content {
  min-width: $content-container-min-width;
  margin-bottom: 105px;
}

.row {
  margin: 0;
}

body {
  font-family: Lato, Ubuntu, Helvetica;
}

.sign-in-sign-up-header {
  margin: 0 auto;
  h1 {
    display: inline-block;
  }
}

/* navbar */
.navbar-brand {
  font-family: Pacifico;
}

.trend-link {
  &:hover {
    text-decoration: none;
    color: #333;
  }
}

/* dashboard - current user */

.dashboard {
  border-radius: 5px;
  border: 1px solid gray;
  min-width: $content-container-min-width;
  min-height: $content-container-min-height;
}

.dashboard-feed-container {
}

.dashboard-feed-index {
  border: 1px solid gray;
  border-radius: 5px;
  min-height: $content-container-min-height;
}

/* dashboard - no current user */

.landing-page {
  border-radius: 0;
  text-shadow: 0 0 10px darkgray;
  font-weight: bold;
  font-size: 5em;
  font-style: bold;
  background: -webkit-linear-gradient(left top, lightgray, lightblue);
  background: -o-linear-gradient(bottom right, lightgray, lightblue);
  background: -moz-linear-gradient(bottom right, lightgray, lightblue);
  background: linear-gradient(to bottom right, lightgray, lightblue);
  background: url("https://images.unsplash.com/photo-1431069767777-c37892aa0a07?q=80&fm=jpg&s=b4bc9252163eaf5f7655c9e3c60b61e8");
  /*background: url("https://unsplash.com/photos/MRxD-J9-4ps/download");*/
  background-size: cover;
  background-position: center-bottom;
  background-repeat: no-repeat;
  height: 400px;
  color: white;
  background-color: white;
  .landing-page-search-bar {
    width: 70%;
    max-width: 600px;
    .form-control {
      border-radius: 5px 0 0 5px;
    }
    margin: auto auto;
    btn {
      background-color: transparent;
      float: left;
    }
  }
  h1 {
    font-family: Pacifico;
  }
  h4 {
    font-style: italic;
  }
}


.feature {
  padding: 0px;
  text-align: center;
  .user-feature {
    height: 225px;
    background: url("http://www.tehcute.com/pics/201108/sad-pug-is-sad-big.jpg");
    background-size: auto 100%;
    border-color: 1px solid gray;
    border-radius: 5px;
    box-shadow: 0 0 10px lightgray;
    font-weight: bold;
    color: white;
    h4 {
      background-color: black;
      font-weight: bold;
      border-radius: 5px 5px 0 0;
    }
    a:hover {
      text-decoration: none;
    }
  }
  .user-feature:hover {
    opacity: 0.5;
  }
  padding: 10px 0;
}

.description {
  background-color: lightgray;
  border-radius: 5px;
  padding: 20px;
  margin: 10px 0;
}

/* current user sidebar */

.user-sidebar {
  border: 1px solid gray;
  border-radius: 5px;
  height: inherit;
  min-height: $content-container-min-height;
}

/* like index */

.like-index {
  border: 1px solid gray;
  border-radius: 5px;
  ul {
    list-style-type: none;
  }
  min-height: 200px;
}

/* follow index */

.follow-index {
  border: 1px solid gray;
  border-radius: 5px;
  ul {
    list-style-type: none;
  }
  min-height: 200px;  
}

/* user show*/

.user-show {
  border: 1px solid gray;
  border-radius: 5px;
}

.user-feed-container {
  border: 1px solid gray;
  border-radius: 5px;
}

.user-show-sidebar {
  border: 1px solid gray;
  border-radius: 5px;
}

.user-header {
  position: relative;
  height: $header-height;
  h1 {
    display: inline-block
  }
  .profile-image {
    height: $header-image-size;
    width: $header-image-size;
    position: absolute;
    border-radius: 5px;
    right: 5%;
  }
  background: -webkit-linear-gradient(left top, lightgray, lightblue);
  background: -o-linear-gradient(bottom right, lightgray, lightblue);
  background: -moz-linear-gradient(bottom right, lightgray, lightblue);
  background: linear-gradient(to bottom right, lightgray, lightblue);
}

/* track index */
.track-index-item {
  height: 100px;
  max-width: 600px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: white;
  padding: 0 10px;
  .track-index-item-header {
    color: gray;
    p {
      margin: 0;
    }
    a {
      color: gray;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.play-button {
  width: 40px;
  text-align: center;
  font-size: 27px;
  float: left;
  color: gray;
  &:hover {
    cursor: pointer;
    color: lightgray;
  }
}

/* track show */
.track-show-container {
  border: 1px solid gray;
  border-radius: 5px;
  min-height: $content-container-min-height;
}

.track-like-index {
  ul {
    list-style-type: none;
  }
}

.track-show-header {
  position: relative;
  min-width: $content-container-min-width;
  width: 100%;
  display: inline-block;
  .track-image {
    position: absolute;
    border-radius: 5px;
    right: 5%;
    bottom: 48px;
  }
  .track-index-item {
    display: inline-block;
    width: 80%;
  }
  background: -webkit-linear-gradient(left top, lightgray, lightblue);
  background: -o-linear-gradient(bottom right, lightgray, lightblue);
  background: -moz-linear-gradient(bottom right, lightgray, lightblue);
  background: linear-gradient(to bottom right, lightgray, lightblue);
}

.track-description {
  border-radius: 5px;
  border: 1px solid gray;
}

.track-sidebar {
  border: 1px solid gray;
  border-radius: 5px;
  height: inherit;
  min-height: $content-container-min-height;
}

/* track upload */
.progress-show {
  text-align: center;
  progress {
    width: 100%;
    background-color: #f3f3f3;
    border: 0;
    height: 100px;
    border-radius: 9px;
  }
}

/*.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}*/

/* comment index */
.comment-index {
  ul {
    list-style-type: none;
  }
  .comment-index-item {
    border-radius: 5px;
    border: 1px solid gray;
    height: 50px;
  }
}

/* tags */
.tags-index {
  list-style-type: none;
  li {
    display: inline-block;
    background-color: lightgray;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
  }
  li:hover {
    cursor: pointer;
    background-color: darkgray;
    color: white;
  }
}

/* playlist */

.playlist-show {
  border: 1px solid gray;
  border-radius: 5px;
}

.playlist-show-container {
  border: 1px solid gray;
  border-radius: 5px;
  min-height: $content-container-min-height;
}

.playlist-form-index {
  width: 100%;
  ul {
    list-style-type: none;
    display: inline;
  }
  li {
    display: inline-block;
    width: 100%;
  }
}

/* Search index */

.search-index {
  list-style-type: none;
}

.user-index-item {
  list-style-type: none;
  height: 100px;
  padding: 5px 20px;
  max-width: 600px;
  border-radius: 5px;
  border: 1px solid gray;
  img {
    display: inline-block;
    height: 75px;
    width: 75px;
  }
}

/* like button */
.Liked {
  border-color: orange;
  color: orange;
  &:hover {
    color: orange;
  }
  width: 84px;
}

.Like {
  &:hover {
    color: orange;
    border-color: orange;
  }
  width: 84px;
}