$content-container-min-width:  800px;
$content-container-max-width:  1000px;
$content-container-min-height: 600px;
$header-height: 350px;
$header-image-size: 150px;


/* dashboard - current user */

.dashboard {
  min-width: $content-container-min-width;
  min-height: $content-container-min-height;
}

.dashboard-feed-container {
  ul {
    padding: 0px;
  }
}

.dashboard-feed-index {
  border-right: 1px solid lightgray;
  min-height: $content-container-min-height;
}

/* dashboard - no current user */

div.landing-page {
  border-radius: 0;
  text-align: center;
  text-shadow: 0 0 10px darkgray;
  font-weight: bold;
  font-size: 5em;
  font-style: bold;
  background: -webkit-linear-gradient(left top, lightgray, lightblue);
  background: -o-linear-gradient(bottom right, lightgray, lightblue);
  background: -moz-linear-gradient(bottom right, lightgray, lightblue);
  background: linear-gradient(to bottom right, lightgray, lightblue);
  background: url("https://images.unsplash.com/photo-1431069767777-c37892aa0a07?q=80&fm=jpg&s=b4bc9252163eaf5f7655c9e3c60b61e8");
  /*background: url("https://unsplash.com/photos/MRxD-J9-4ps/download");*/
  background-size: cover;
  background-position: center-bottom;
  background-repeat: no-repeat;
  height: 400px;
  color: white;
  .landing-page-search-bar {
    width: 70%;
    max-width: 600px;
    .form-control {
      border-radius: 5px 0 0 5px;
    }
    margin: auto auto;
    btn {
      background-color: transparent;
      float: left;
    }
  }
  h1 {
    font-family: Pacifico;
  }
  h4 {
    font-style: italic;
  }
}


.feature {
  padding: 0px;
  text-align: center;
  .user-feature {
    height: 225px;
    background: url("http://www.tehcute.com/pics/201108/sad-pug-is-sad-big.jpg");
    background-size: auto 100%;
    border-color: 1px solid gray;
    border-radius: 5px;
    box-shadow: 0 0 10px lightgray;
    font-weight: bold;
    color: white;
    h3 {
      background-color: black;
      font-weight: bold;
      border-radius: 5px 5px 0 0;
    }
    transition-duration: 0.3s;
    a:hover {
      text-decoration: none;
    }
  }
  .user-feature:hover {
    opacity: 0.5;
  }
  padding: 10px 0;
}

.description {
  background-color: lightgray;
  border-radius: 5px;
  padding: 20px;
  margin: 10px 0;
}
