$content-container-min-width:  800px;
$content-container-max-width:  1000px;
$content-container-min-height: 600px;
$header-height: 350px;
$header-image-size: 150px;



.errors-container {
  width: 50%;
  margin: 0 auto;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  position: relative;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .errors-container-close {
    position: absolute;
    top: 5px;
    right: 5px;
    &:hover {
      cursor: pointer;
    }
  }
}

.flash {
  width: 50%;
  margin: 0 auto;
  border-radius: 5px;
  position: relative;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}