$content-container-min-width:  800px;
$content-container-max-width:  1000px;
$content-container-min-height: 500px;
$header-height: 295px;
$header-image-size: 150px;

/* playlist */

.playlist-show {

}

.playlist-show-container {
  border-right: 1px solid lightgray;
  min-height: $content-container-min-height;
}

/* playlist form index */

.playlist-form-index {
  width: 100%;
  ul {
    list-style-type: none;
    display: inline;
  }
  li {
    display: inline-block;
    width: 100%;
  }
}

/* playlist index item */
.playlist-index-item {
  max-width: 600px;
  max-height: 250px;
  height: auto;

  border: 1px solid gray;
  border-radius: 5px;
  background-color: white;
  padding: 0 20px;
  p {
    margin: 0;
  }
  a {
    color: gray;
    &:hover {
      text-decoration: none;
      color: gray;
    }
  }
  .playlist-index-item-track-container {
    max-height: 150px;
    overflow-y: auto;
    padding-bottom: 5px;
  }
  .playlist-index-item-track-item {
    transition-duration: 0.1s;
    .play-button {
      font-size: 15px;
      &:hover {
        color: white;
      }
    }
    &:hover {
      cursor: pointer;
      background-color: lightgray;
    }
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    padding: 0px;
    margin: 0px;
  }
}

.playlist-show-header{
  height: $header-height;
  background: -webkit-linear-gradient(left top, lightgray, lightblue);
  background: -o-linear-gradient(bottom right, lightgray, lightblue);
  background: -moz-linear-gradient(bottom right, lightgray, lightblue);
  background: linear-gradient(to bottom right, lightgray, lightblue);
  img {
    max-height: $header-image-size;
    max-width: $header-image-size;
    height: auto;
    width: auto;
  }
}