.search-options {
  ul {
    padding: 0;
    list-style-type: none;
  }
  li {
    font-size: 1.5em;
    padding: 5px;
    margin: 0;
    transition-duration: 0.33s;
    &:hover {
      cursor: pointer;
      padding-left: 15px;
      background-color: orange;
    }
  }
  .option-selected {
    background-color: orange;
  }
}